<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zjt.user">

    <application
        android:name=".UserApplication"
        android:allowBackup="true"
        android:label="User"
        android:theme="@style/BaseThemeWelcome">
        <activity android:name=".UserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>